In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style("white")
%matplotlib inline

from matplotlib.ticker import FuncFormatter

import plotly.express as px
import plotly.graph_objects as go

C:\Users\erinm\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
donations13to17=pd.read_feather('donations13to17.ftr')

In [3]:
#keep only relevant columnns from full dataset
amounts1=donations13to17[['id','cohort','yr0','yr1','amount_yr0','amount_yr1']].copy().sort_values('amount_yr0').reset_index(drop=True)

In [8]:
amounts1['retention_yr1']=amounts1['yr1']/amounts1['yr0']

In [9]:
c13=amounts1.query('cohort=="cohort13"')

In [10]:
c13

,id,cohort,yr0,yr1,amount_yr0,amount_yr1,retention_yr1
5,69a7c6fed3094256c371fdd946585c15,cohort13,1,0,0.40,0.00,0.0
8,2bb12d73c1b7859ad4e045ad455a03c3,cohort13,1,0,1.00,0.00,0.0
9,54738e4163f3a49cc6f405c1ef221b26,cohort13,1,0,1.00,0.00,0.0
11,e9c19a42c4965f0f91262bd56ff98cda,cohort13,1,0,1.00,0.00,0.0
12,a614620bb7ac42c58e6740bdddf420e9,cohort13,1,0,1.00,0.00,0.0
...,...,...,...,...,...,...,...
1876458,2144d56b1947ebb26a19e7f1d07c970a,cohort13,1,1,90140.60,159344.38,1.0
1876459,96c4f21513cd8962acb147ab384e6434,cohort13,1,1,94901.50,215995.85,1.0
1876463,0e01e632606c230914fe73c2d2ccead3,cohort13,1,1,113360.94,77656.30,1.0
1876465,8f70fc7370842e0709cd9af3d29b4b0b,cohort13,1,1,163192.85,30893.09,1.0
1876466,a0e1d358aa17745ff3d3f4e4909356f3,cohort13,1,1,442794.38,570161.90,1.0

In [17]:
c13_1=c13.groupby('amount_yr0').agg({'retention_yr1':'mean'}).reset_index()

In [24]:
c13_1.retention_yr1.value_counts()

0.000000    11343
1.000000     7864
0.500000     1545
0.333333      482
0.666667      190
            ...
0.458621        1
0.441860        1
0.267606        1
0.505415        1
0.730769        1
Name: retention_yr1, Length: 231, dtype: int64

In [21]:
c13_1['diff']=c13_1['retention_yr1']-c13_1['retention_yr1'].shift(1)

In [23]:
c13_1['diff'].value_counts()

 0.000000    9969
-1.000000    3519
 1.000000    3491
 0.500000    1309
-0.500000    1264
             ...
 0.239130       1
 0.203704       1
 0.230769       1
-0.428571       1
-0.651163       1
Name: diff, Length: 533, dtype: int64

In [20]:
c13_1.groupby('retention_yr1')['retention_yr1'].apply(lambda x: x.shift(1)-x)

0        NaN
1        NaN
2        NaN
3        0.0
4        0.0
        ...
22105    0.0
22106    0.0
22107    0.0
22108    0.0
22109    0.0
Name: retention_yr1, Length: 22110, dtype: float64

In [26]:
c13_1.to_csv('c13_1.csv')

In [27]:
c13_1

       amount_yr0  retention_yr1      diff
0            0.40       0.000000       NaN
1            1.00       0.040034  0.040034
2            1.02       1.000000  0.959966
3            1.15       0.000000 -1.000000
4            1.19       1.000000  1.000000
...           ...            ...       ...
22105    90140.60       1.000000  0.000000
22106    94901.50       1.000000  0.000000
22107   113360.94       1.000000  0.000000
22108   163192.85       1.000000  0.000000
22109   442794.38       1.000000  0.000000

[22110 rows x 3 columns]